# Dependencies
node_modules/
.pnpm-store/

# Build outputs
.next/
dist/
.taro/

# Env
.env
.env*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Debug
npm-debug.log*
pnpm-debug.log*

# Misc
*.tsbuildinfo
next-env.d.ts
